<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Teste Pagina</title>

    <link  href="webjars/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="css/icon.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>



</head>
<body>
    <header id="header">
        <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="/vianuvem/home"><img id="logo" src="images/logo.png"/></a>
        </nav>
    </header>
    <div class="main">
        <aside id="sidebar">
            <div class="sidebar-wrapper">
                <nav id="mainnav">
                    <ul class="nav nav-list">
                        <li>
                            <a href="/vianuvem/home">
                                <span class="icon"><i class="icon20 i-menu-6"></i></span>
                                <span class="txt">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/vianuvem/lists">
                                <span class="icon"><i class="icon20 i-menu-6"></i></span>
                                <span class="txt">Cadastrar Lista</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <section id="content">
            <div class="wrapper">
                <div class="crumb">
                    <ul class="breadcrumb">
                        <li><a href="/vianuvem/home"><i class="icon16 i-home-4"></i>Vianume</a></li>
                        <li class="active">Home</li>
                    </ul>
                </div>

                <div class="container-fluid">
                    <div id="heading" class="page-header">
                        <h1><i class="icon20 i-file-7"></i> Cadastro de Ordem</h1>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="icon"><i class="icon20 i-menu-6"></i></div>
                                    <h4>Ordem</h4>
                                </div>

                                <div class="panel-body">
                                    <div id="feedback"></div>
                                    <form class="form-horizontal" id="create-order-form">
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <div class="col-lg-4">
                                                    <input class="form-control" type="text" placeholder="Nome da Ordem" id="name-order" aria-required="true" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <input class="form-control" type="number" step="1" placeholder="Quantidade" id="quantity-order" aria-required="true" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <input class="form-control" type="number" step="0.01" placeholder="Preço" id="price-order" aria-required="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <label class="col-lg-1" for="fileinput">Foto</label>
                                                <div class="col-lg-3">
                                                    <input type="file" name="fileinput" id="photo-order"/>
                                                </div>

                                                <label class="col-lg-1" for="select">Lista</label>
                                                <div class="col-lg-3">
                                                    <select name="select" class="form-control" id="list-selected-order" aria-required="true" >
                                                        <option value="" selected="selected" label="(Selecione uma Lista)" />
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <div class="col-lg-2">
                                                    <button type="submit" class="btn btn-inverse form-control" id="btn-order">Cadastrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="heading-table" class="page-header">
                        <h1><i class="icon20 i-file-7"></i> Tabela de Ordens</h1>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-body">
                                <form class="form-horizontal" id="table-order-form">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                                <th>Item Comprado?</th>
                                                <th>Lista</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-order">

                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/controller/orders/orders.js"></script>
    <script type="text/javascript" src="js/controller/orders/table-orders.js"></script>
</body>
</html>