<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Teste Pagina</title>

    <link  href="webjars/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="css/icon.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

</head>
<body>
    <header id="header">
        <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="/vianuvem/home"><img src="images/logo.png"/></a>
        </nav>
    </header>
    <div class="main">
        <aside id="sidebar">
            <div class="side-options">
                <ul class="list-unstyled">
                    <li>
                        <a href="#" id="collapse-nav" class="act act-primary tip" title="Recolher Menu">
                            <i class="icon16 i-arrow-left-7"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>
    </div>
</body>
</html>